@page "/CollectionManager/{dbname}"
@using BlazorServerMyMongo.Data.DB;
@using BlazorServerMyMongo.Pages.Component.CollectionManager
@inject DBController DBController;
@inject IJSRuntime JS

<h2>List of all collections</h2>
<div class="row bottom-div">
    @{
        List<MongoDB.Bson.BsonDocument>? collections = listAllCollections();
        int count = collections != null ? collections.Count : 0;
    }
    <p class="second-text-color">@count collections found on database @DBName</p>
    @if (collections == null)
    {
        <p class="text-danger">Not authorized on @DBName</p>
    }
    else{
        @foreach (var collection in collections)
        {
            <ShowCollectionCard CollectionObject="@collection" DBName="@DBName" />
        }
    }

</div>
@code {
    [Parameter]
    public string? DBName { get; set; }
    
    List<MongoDB.Bson.BsonDocument>? listAllCollections()
    {
        if (DBName is null)
            return null;

        return DBController.ListAllCollectionsfromDB(DBName);
    }
}