@using Controllers
@using Data.Helpers
<div class="row align-items-center">
    <div class="col">
<textarea id="@ObjectId" @oninput="OnInputChange" autocomplete="off" class="form-control page @GetBorderClass()">@Document</textarea>
    </div>
    @if (ShowButton)
    {
        <div class="col-auto">
            <button class="btn btn-primary" @onclick="SaveCollection">Save</button>
    </div>
    }
</div>
<br />

@code {
    @inject DBController dbController;
    [Parameter]
    public string Document { get; set; } = "";
    [Parameter]
    public string dbName { get; set; } = "";
    [Parameter]
    public string collectionName { get; set; } = "";
    [Parameter]
    public string ObjectId { get; set; } = "";
    public string OldDocument = "";
    public bool ShowButton = true;
    public bool? savingSuccess = null;
    public bool? success = null;

    protected override void OnParametersSet()
    {
        OldDocument = Document;
        UpdateButtonState();
    }

    private async Task SaveCollection()
    {
        if (Document != OldDocument)
        {
            try
            {
                Tokenizer tokenizer = new();
                var differences = tokenizer.FindDifferencesInDocument(OldDocument, Document);
                var renameMap = tokenizer.FindRenameMap();

                if (differences.Count > 0 || renameMap.Count > 0)
                {
                    success = await dbController.UpdateMongoDB(dbName, collectionName, differences, renameMap, ObjectId);
                }
                ShowButton = false;
            }
            catch (Exception e)
            {
                success = false;
            }
        }
    }

    private void OnInputChange(ChangeEventArgs e)
    {
        Document = e.Value.ToString();    
        UpdateButtonState();
    }

    private void UpdateButtonState()
    {
        ShowButton = (Document != OldDocument);
    }

    private string GetBorderClass()
    {
        return success == true ? "textarea-success" : success == false ? "textarea-failure" : "";
    }
}
