@page "/CollectionManager/{dbName}"
@using Controllers
@using MongoDB_Web.Pages.Component.Collection
@inject DBController DBController;
@inject IJSRuntime JS

<h3>List of all collections</h3>
<div class="row bottom-div">
    @{
        List<MongoDB.Bson.BsonDocument>? collections = listAllCollections();
        int count = collections != null ? collections.Count : 0;
    }
    <p class="second-text-color">
        @count collections found on database @dbName
    </p>
    @if (collections == null)
    {
        <p class="text-danger">
            Not authorized on @dbName
        </p>
    }
    else{
        @foreach (var collection in collections)
        {
            <ShowCollectionCard CollectionObject="@collection" dbName="@dbName" />
        }
    }

</div>
@code {
    [Parameter]
    public string? dbName { get; set; }
    
    List<MongoDB.Bson.BsonDocument>? listAllCollections()
    {
        if (dbName is null)
            return null;

        return DBController.ListAllCollectionsfromDB(dbName);
    }
}