@page "/Query";
@using Controllers;
<h3>Query</h3>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="terminal">
                <div class="terminal-output">
                <div class="py-2">@queryResult</div>
  
                </div>
                <input type="text" id="dbName" @bind="dbName" class="form-control mt-2 page" placeholder="Enter Database Name">
                <input type="text" id="collectionName" @bind="collectionName" class="form-control mt-2 page" placeholder="Enter Collection Name">
                <input type="text" id="mongoQuery" @bind="mongoQuery" class="form-control mt-2 page" placeholder="Enter MongoDB Query { 'name': 'John' }">
                <button id="executeQuery" @onclick="ExecuteQuery" class="btn btn-primary mt-2">Execute</button>
            </div>
        </div>
    </div>
</div>

@code {
    @inject DBController dbController;
    private string dbName = "";
    private string collectionName = "";
    private string mongoQuery = "";
    string queryResult = "";
    string errorMessage = "";

    async Task ExecuteQuery()
    {
        try
        {
            queryResult = await dbController.ExecuteMongoQuery(dbName, collectionName, mongoQuery);
            errorMessage = "";
        }
        catch (Exception ex)
        {
            queryResult = "";
            errorMessage = ex.Message;
        }
    }
}