@using Data.OTP;
@code {
    MongoDB_Web.Pages.Component.Util.GenerateTestDBModal? generateTestDBModal { get; set; }
    MongoDB_Web.Pages.Component.Util.DeleteAllDBModal? deleteAllDBModal { get; set; }
}
<MongoDB_Web.Pages.Component.Util.GenerateTestDBModal @ref="generateTestDBModal" />
<MongoDB_Web.Pages.Component.Util.DeleteAllDBModal @ref="deleteAllDBModal" />
@page "/Settings";

<h3>Settings</h3>

<br />
<h5>Test database</h5>
<button class="btn btn-primary" @onclick="() => generateTestDBModal?.Open()">Generate</button>
<br /><br />
<h5 class="text-danger">Delete all database!</h5>
<button class="btn btn-danger" @onclick="() => deleteAllDBModal?.Open()">Delete</button>
@code {
@inject AuthManager authManager;
@inject NavigationManager navigationManager;
    protected override Task OnInitializedAsync()
    {
        if (!authManager.IsAdmin())
            navigationManager.NavigateTo("/Dashboard");

        return base.OnInitializedAsync();
    }
}
