@page "/CollectionViewer/{dbname}/{collectionname}"
@using Data.DB;
@using MongoDB.Bson;
@using MongoDB.Bson.IO;
@using MongoDB.Bson.Serialization;
@using MongoDB.Driver
@inject DBController DBController;

<h2>View Collection: @Collectionname</h2>
<div class="row bottom-div">
    
    @if (collectionList == null)
    {
        <p class="text-danger">Failed to read collection @Collectionname</p>
    }
    else
    {
        @foreach (var collection in collectionList)
        {
            @using MongoDB_Web.Pages.Component.CollectionManager
            <ViewCollection Collection="@collection" />
        }
    }
    
</div>
@code {
    [Parameter]
    public string? DBname { get; set; }
    [Parameter]
    public string? Collectionname { get; set; }

    List<string>? collectionList;

    List<string>? listCollection()
    {
        if (DBname is null || Collectionname is null)
            return null;

        return DBController.GetCollection(DBname, Collectionname);
    }

    protected override Task OnInitializedAsync()
    {
        collectionList = listCollection();

        return base.OnInitializedAsync();
    }
 }