.search-box {
    background-color: var(--fifth-color);
    padding-left: 8px;
}

.navbar{
    justify-content: left;
}

button {
    padding-top: unset;
    padding-bottom: unset;
    border-color: var(--secound-text-color);
}

.btn {
    font-size: unset !important;
}

.form-control-sm {
    font-size: unset !important;
}

.space {
    padding-right: 3px;
}


.right-nav-side {
    margin-right: 1em;
}

.page-item.disabled .page-link {
    color: var(--font-color)!important;
    background-color: var(--secound-color) !important;
}