@code {
    private BlazorServerMyMongo.Pages.Component.CollectionManager.DeleteCollectionModal? DeleteCollectionModal { get; set; }
}
<DeleteCollectionModal @ref="DeleteCollectionModal" DBName="@DBName" CollectionName="@name" />
<div class="col-lg-4 col-xl-3 col-md-5 mb-8 col-sm-12 py-3">
    <div class="shadow card h-100 rounded cardbox">
        <div class="card-header py-1">
            <div class="card-title">
                <h4 class="title-card">@name</h4>
            </div>
            <button type="button" @onclick="() => DeleteCollectionModal.Open()" class=" btn-close deleteicon blacktowhitetheme" aria-label="Close"></button>
        </div>
        <div class="card-body">
            <p class="card-text">
            readOnly: @readOnly
            </p>
        </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Option
                </button>
                <ul class="dropdown-menu element-background">
                    <li><a class="dropdown-item element-background" href="#">Details</a></li>
                    <li><a class="dropdown-item element-background" href="#">Upload .JSON</a></li>
                    <li><a class="dropdown-item element-background" href="#">Download Collection</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="" @onclick="() => DeleteCollectionModal.Open()" @onclick:preventDefault>Delete Collection</a></li>
                </ul>
            </div>
            <a href="CollectionManager/@name" class="btn btn-primary">Open</a>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public MongoDB.Bson.BsonDocument CollectionObject { get; set; } = default!;
    [Parameter]
    public string DBName { get; set; } = "";
    public string? name { get; set; } = "";
    public bool? readOnly { get; set; } = null;
    public Guid uuid;
    protected override Task OnParametersSetAsync()
    {
        LoadCardData();
        return base.OnParametersSetAsync();
    }
    
    //Loads information from the BsonDocument into the variables

    void LoadCardData()
    {
        CollectionObject = CollectionObject ?? new MongoDB.Bson.BsonDocument();
        //Get the name of the collection
        if (!string.IsNullOrEmpty(CollectionObject.GetValue("name").ToString()))
            name = CollectionObject.GetValue("name").AsString; 
            
       //read variable uuid from parent property info
        if (!string.IsNullOrEmpty(CollectionObject.GetValue("info").AsBsonDocument.GetValue("uuid").ToString()))
            uuid = CollectionObject.GetValue("info").AsBsonDocument.GetValue("uuid").AsGuid;
       
        //read variable readOnly from parent property info
        if (!string.IsNullOrEmpty(CollectionObject.GetValue("info").AsBsonDocument.GetValue("readOnly").ToString()))
            readOnly = CollectionObject.GetValue("info").AsBsonDocument.GetValue("readOnly").AsBoolean;
      
    }
}