<div class="row">
    <textarea id="json-input" autocomplete="off">
        @Collection
    </textarea>
</div>
<div class="row">
    <pre id="json-display"></pre>
</div>
@code {
    [Parameter]
    public string? Collection { get; set; }
}
